settings
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*/bin/*.exe
*/bin/*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.metaproj
*.metaproj.tmp

#custom
.idea
AssemblyVersion.cs
KEWeb/ClientAssemblies/
KEWeb.Deploy/
KEWeb/AllForms/schema/allforms/schema_0409192.dll
_UpgradeReport_Files*/
UpgradeLog*
Settings/*
Assemblies/DC/*.*_
token.des3key
!Settings.CI/token.des3key
logs/
tmp/
Components/UpdateAssembler/*_LOG.txt
Components/UpdateAssemblerFast/*_LOG.txt
packages/
shelf/
KEWeb/scripts/ft.common.scripts/
.bemtemp/
.sass-cache/
KEWeb/deploy
Bem.Blocks.KEWeb/common-blocks
KEWeb.Front.Debug/deploy
KEWeb.Front.Debug/Views

#exceptions
# don't touch this line please
!Settings/UnchangeableFiles/
KEService/bin/SKBKontur.Formats.*
KEService/bin/SKBKontur.LIT.DOM.*
KEService/bin/SKBKontur.LIT.Forms.Ndfl2.*
KEService_Errors*
ExchangeScripts/log/
node_modules
*.ReSharper
KEWeb/classification_config
KEWeb/AllForms/new_forms/Forms_Deploy/scripts/ft_scripts/
KEUpdater/*
*.vsp
*.psess
*.tmp.cmd
